<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <p class="lead" style="margin:0">{% trans "Export to static image for printing" %}</p>
</div>
<div class="modal-body">

    <p class="lead" style="margin-top:0">{% trans "Link to this visualisation" %}</p>
    <p><a href="{{ chartUrl }}">{{ chartUrl }}</a></p>

    {% if republish %}

        <div id="chart-url-change-warning" class="alert alert-warning" style="display:none">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <div style="font-size:45px;line-height:55px;margin-left:-7px" class="pull-left">☝</div>
            <div style="margin-left: 40px">
                <h4>{% trans "Chart URL has changed!" %}</h4>
                <div>{% trans "The chart URL has changed due to the republication. The old versions will be redirected automatically within the next 24 hours." %}</div>
            </div>
        </div>

    {% endif %}

    <p class="lead">{% trans "Embed into your website" %}</p>
    <p>{% trans "Just copy &amp; paste the following code into your website." %}</p>
    <form class="form-inline">
        <label>{% trans "Width" %}: <input type="text" id="embed-width" class="input-small" style="width:4ex" value="600" /> px</label>&nbsp;&nbsp;
        <label>{% trans "Height" %}: <input type="text" id="embed-height" class="input-small" style="width:4ex" value="400" /> px</label>

    {% if publish %}
        <div class="publishing alert alert-info">
            <p>
                {% trans "Your chart is now being published and uploaded, and should be ready in a minute." %} <img src="/static/img/ajax-loader.gif" />
                <div class="progress progress-striped active">
                    <div class="bar" style="width: 0%;"></div>
                </div>
            </p>
        </div>
    {% else %}
        {% if chart.publishedAt < chart.lastModifiedAt %}
            <div class="alert alert-warning">
                <p>{% trans "You have changed the chart after its last publication. To make you changes visible, please re-publish the chart." %}</p>
                <a href="?republish=1" class="btn"><i class="icon-refresh"></i> {% trans "Re-publish chart!" %}</a>
            </div>
        {% endif %}
    {% endif %}

    {% if chart.lastEditStep == 5 %}
        <p class="published alert alert-success">{% trans "Congrats, your chart has been published." %}</p>
    {% endif %}

    <textarea style="font-size: 13px;padding:5px" id="iframe-code" class="well span4" rows="5"><iframe src="{{ chartUrl }}" frameborder="0" allowtransparency="true" allowfullscreen="allowfullscreen" webkitallowfullscreen="webkitallowfullscreen" mozallowfullscreen="mozallowfullscreen" oallowfullscreen="oallowfullscreen" msallowfullscreen="msallowfullscreen" width="{{ chart.metadata.publish['embed-width'] }}" height="{{ chart.metadata.publish['embed-height'] }}"></iframe></textarea>

    <div style="color: #999;margin-top:20px"><b>{% trans "Note" %}:</b> {% trans "It may take a couple of minutes until the re-direction from old chart urls to the newest version takes effect." %}</div>



</div>
<div class="modal-footer">
   <button class="btn" data-dismiss="modal" aria-hidden="true">{% trans "Cancel" %}</button>
   <button class="btn-export-chart btn btn-primary"><i class="icon-print icon-white"></i> {% trans "Export chart" %}</button>
</div>




